<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% endif %}
<meta name="author" content="site.author">

<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

<!-- Open Graph -->
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="article">
<meta property="og:title"
	content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description"
	content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if site.google_verify %}
<meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %} {% if site.bing_verify %}
<meta name="msvalidate.01" content="{{ site.bing_verify }}">
{% endif %} {% if site.owner.google_plus %}
<link rel="author" href="{{ site.owner.google_plus }}?rel=author">
{% endif %}

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap core CSS styles-->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<!-- Documentation extras CSS styles-->
<link href="/assets/css/docs.min.css" rel="stylesheet">

<!-- Table of contents Tocify CSS styles -->
<link rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link href="/assets/css/jquery.tocify.css" rel="stylesheet">
<link href="/assets/css/prettify.css" type="text/css" rel="stylesheet" />

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">
<!-- Webfonts -->
<link
	href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic"
	rel="stylesheet" type="text/css">

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script
	src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed"
	href="{{ site.url }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">

<!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="../assets/ico/favicon.ico">

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-146052-10']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Fontawesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
	<a class="sr-only" href="#content">Skip to main content</a>

	<!-- Docs master nav -->
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<!-- <button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button> -->
				<a href="/" class="navbar-brand">Aprende con Alf</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<!--       <ul class="nav navbar-nav"> -->
				<!--         <li> -->
				<!--           <a href="/getting-started"></a> -->
				<!--         </li> -->
				<!--       </ul> -->
				<ul class="nav navbar-nav navbar-right">
					{% if site.owner.twitter %}
					<li><a href="http://twitter.com/{{ site.owner.twitter }}"><i class="icon-twitter"></i></a></li>
					{% endif %}
					{% if site.owner.facebook %}
					<li><a href="http://facebook.com/{{ site.owner.facebook }}"><i class="icon-facebook"></i></a></li>
					{% endif %}
					{% if site.owner.google_plus %}
					<li><a href="{{ site.owner.google_plus }}"><i class="icon-google-plus"></i></a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</header>
